In [139]:
import numpy as np
import pandas as pd

In [140]:
# Create a Random numpy array
a = np.random.rand(4,2)
b = np.random.randint(10,size=(4,3))

In [ ]:
a

In [141]:
# create a data frame and give the columns some names
df = pd.DataFrame(data=a, columns=['x','y'])
df

          x         y
0  0.773713  0.232954
1  0.218318  0.274312
2  0.831874  0.485764
3  0.047460  0.634029

In [ ]:
# Index can also be assigned explicitly for future manipulation
df = pd.DataFrame(data=a, columns=['x','y'], index=['a','b','c','d'])

In [ ]:
df

In [ ]:
# This is how index looks like
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
# top n values
df.head(2)

In [ ]:
# bottom n values
df.tail(2)

In [ ]:
len(df)

In [ ]:
df.describe()

In [144]:
# Transpose
df.T
df

          x         y
0  0.773713  0.232954
1  0.218318  0.274312
2  0.831874  0.485764
3  0.047460  0.634029

In [ ]:
# choose a specific column
df['x']

In [ ]:
# gather columns into rows
pd.melt(df)

In [ ]:
df

In [ ]:
# Transpose
df.T

In [ ]:
df

In [ ]:
# Positions Location of a value in the DF
df.iloc[0]

In [ ]:
df.iloc[2,0]

In [ ]:
# Splitting
df[0:2]

In [ ]:
df[:3]

In [ ]:
df.sample(frac=0.25)

In [ ]:
df1=df.copy()

In [ ]:
# Important in preparing data for RNN
df1.shift(1)

In [ ]:
# Loading a CSV file into a DataFrame
# Please give the correct path as per your system e.g 'yourpath/yourfilename.csv'
df2= pd.read_csv('C:/Users/Lenovo/Desktop/AIudemy/Gosalescsv.csv',header=None, names=["A","B","C","D","E","F","G"])

In [ ]:
df2

In [ ]:
# drop columns
df2.drop(["A","C","E"],axis=1)

In [ ]:
# rename columns
df2.rename(columns={"A": "Age"}, inplace=True)

In [ ]:
df2

In [ ]:
# add columns
df2["year"]= 2020

In [ ]:
df2

In [ ]:
# Loading a CSV file into a DataFrame
# Please give the correct path as per your system e.g 'yourpath/CSV.csv'
df2.to_csv('C:/Users/Lenovo/Desktop/AIudemy/CSV1.csv', index=False)

In [ ]:
# Creating an excel file from a DataFrame
# Please give the correct path as per your system 
df2.to_excel('C:/Users/Lenovo/Desktop/AIudemy/Excel1.xls', index=False)

In [ ]:
# Loading an Excel file into a DataFrame
# Please give the correct path as per your system 
df3 = pd.read_excel('C:/Users/Lenovo/Desktop/AIudemy/Excel1.xls', 0)

In [ ]:
df3

In [ ]:
# Creating a JSON file from a DataFrame
# Please give the correct path as per your system 
df3.to_json('C:/Users/Lenovo/Desktop/AIudemy/JSON.json')

In [ ]:
# Loading a JSON file into a DataFrame
# Please give the correct path as per your system 
df4 = pd.read_json('C:/Users/Lenovo/Desktop/AIudemy/Lesson10.json')

In [ ]:
df4.dtypes

In [ ]:
# Creating a Pickle file from a DataFrame
# Please give the correct path as per your system
pd.to_pickle(df2, "C:/Users/Lenovo/Desktop/AIudemy/Pickle1.pkl")

In [ ]:
# Loading a JSON file into a DataFrame
# Please give the correct path as per your system 
pd.read_pickle("C:/Users/Lenovo/Desktop/AIudemy/Pickle1.pkl")