In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

In [ ]:
fruits.count('tangerine')

In [ ]:
fruits.index('banana')

In [ ]:
fruits.index('banana', 4)  # Find next banana starting a position 4

In [ ]:
fruits.reverse()
fruits

In [ ]:
fruits.append('grape')
fruits

In [ ]:
fruits.sort()
fruits

In [ ]:
# Using Lists as Stacks

stack = [3, 4, 5]
stack

In [ ]:
stack.append(6)

In [ ]:
stack.append(7)
stack

In [ ]:
stack.pop()

In [ ]:
stack

In [ ]:
stack.pop()

In [ ]:
stack.pop()

In [ ]:
stack

In [ ]:
from collections import deque

In [69]:
queue = deque(["Eric", "John", "Michael"])
queue

deque(['Eric', 'John', 'Michael'])

In [70]:
queue.append("Terry")           # Terry arrives

In [71]:
queue.append("Graham")          # Graham arrives

In [72]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [73]:
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [74]:

queue.pop()                 # The second to arrive now leaves

'Graham'

In [ ]:
queue                           # Remaining queue in order of arrival

In [76]:
# List comprehension or building a list 

squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [78]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [ ]:
# The del statement

In [79]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [80]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [81]:
del a[:]
a

[]

In [82]:
# Tuples
t = 12345, 54321, 'hello!'
t[0]

t

(12345, 54321, 'hello!')

In [83]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [84]:

# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [86]:
# Sets

basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'apple', 'pear', 'banana', 'orange'}

In [87]:

'orange' in basket                 # fast membership testing

True

In [88]:
'crabgrass' in basket

False

In [89]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [90]:
b

{'a', 'c', 'l', 'm', 'z'}

In [91]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [93]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [94]:
a & b                              # letters in both a and b

{'a', 'c'}

In [95]:

a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [96]:
# Dictionaries
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [99]:
knights = {'gallahad': 'the pure', 'robin': 'the brave', 'today is': 25}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave
today is 25

In [101]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe