In [ ]:

# No variable Declaration required

In [145]:
2 + 2

4

In [146]:
(50 - 5*6) / 4

5.0

In [147]:
50 - 5*6

20

In [148]:
17 / 3  # classic division returns a float

5.666666666666667

In [150]:

17 % 3  # the % operator returns the remainder of the division

2

In [149]:

17 // 3  # floor division discards the fractional part

5

In [153]:
2 ** 7  # 2 to the power of 7

128

In [ ]:
# Assigning a value to a variable

In [154]:
width = 20
height = 5 * 9
width * height

900

In [ ]:
n  # try to access an undefined variable

In [3]:
tax = 12.5 / 100
price = 100.50
price * tax

price + _

113.0625

In [ ]:
In addition to int and float, Python supports other types of numbers, such as Decimal and Fraction.
Python also has built-in support for complex numbers, and uses the j or J suffix to indicate the imaginary part (e.g. 3+5j).

In [ ]:

# Working with STrings

In [4]:
'spam eggs'  # single quotes

'spam eggs'

In [6]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [5]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [7]:
'"Yes," they said.'

'"Yes," they said.'

In [8]:
"\"Yes,\" they said."

'"Yes," they said.'

In [ ]:
# There is a print command

In [10]:
print('C:\some\n name')  # here \n means newline!

C:\some
 name

In [11]:

print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [12]:
p = 'hi'   # print a variable
print('p')

p

In [ ]:
# String Manipulation

In [13]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [14]:
'Py' 'thon'

'Python'

In [15]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [16]:
('un' * 3) + 'ium'

'unununium'

In [17]:
prefix = 'this'
prefix + 'thon'

'thisthon'

In [19]:
word = 'Python'

In [20]:
word[0]  # character in position 0

'P'

In [21]:
word[5]  # character in position 5

'n'

In [22]:
word[-1]  # last character

'n'

In [23]:
word[-2]  # second-last character

'o'

In [24]:
word[-6]

'P'

In [25]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [26]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [27]:
word[:2] + word[2:]

'Python'

In [29]:
word[:4] + word[4:]

'Python'

In [30]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [31]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [32]:

word[-2:]  # characters from the second-last (included) to the end

'on'

In [33]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [ ]:
# string methods

In [ ]:
# Lists

In [34]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [35]:
squares[0]  # indexing returns the item

1

In [36]:
squares[-1]

25

In [ ]:
squares[-3:]  # slicing returns a new list

In [37]:
squares[:] # This means that the following slice returns a new (shallow) copy of the list:

[1, 4, 9, 16, 25]

In [38]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [40]:

cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [41]:
cubes.append(216)  # add the cube of 6

In [42]:
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [43]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [44]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [45]:

# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [46]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [ ]:
 letters = ['a', 'b', 'c', 'd']
 len(letters)

In [47]:
# It is possible to nest lists (create lists containing other lists), for example:

a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [49]:
x[0]

['a', 'b', 'c']

In [51]:
x[0][2]

'c'

In [53]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 100:
    print(a)
    a, b = b, a+b

# This example introduces several new features.

# The first line contains a multiple assignment: the variables a and b simultaneously get the new values 0 and 1. On the last line this is used again, demonstrating that the expressions on the right-hand side are all evaluated first before any of the assignments take place. The right-hand side expressions are evaluated from the left to the right.

# The while loop executes as long as the condition (here: a < 10) remains true. In Python, like in C, any non-zero integer value is true; zero is false. The condition may also be a string or list value, in fact any sequence; anything with a non-zero length is true, empty sequences are false. The test used in the example is a simple comparison. The standard comparison operators are written the same as in C: < (less than), > (greater than), == (equal to), <= (less than or equal to), >= (greater than or equal to) and != (not equal to).

# The body of the loop is indented: indentation is Pythonâ€™s way of grouping statements. At the interactive prompt, you have to type a tab or space(s) for each indented line. In practice you will prepare more complicated input for Python with a text editor; all decent text editors have an auto-indent facility. When a compound statement is entered interactively, it must be followed by a blank line to indicate completion (since the parser cannot guess when you have typed the last line). Note that each line within a basic block must be indented by the same amount.

# The print() function writes the value of the argument(s) it is given. It differs from just writing the expression you want to write (as we did earlier in the calculator examples) in the way it handles multiple arguments, floating point quantities, and strings. Strings are printed without quotes, and a space is inserted between items, so you can format things nicely, like this: """

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
i = 256*256
print('The value of i is', i)

In [143]:
# The keyword argument end can be used to avoid the newline after the output, or end the output with a different string:

a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [57]:
b = ['Iam', 'learning', 'Python']
for i in range(0,3,1):
   print(b[i])

Iam
learning
Python